# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
*.env
.env.local
.env.*.local

# Build artifacts
dist/
build/

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Uploads & Temp
uploads/
scratch/
